
@font-face {
    font-family:myfont2 ;
    src: url(fonts/Stopbuck.otf);
  }
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
figcaption{
    position: absolute;
    left: 20px;
    }
header {
    text-align: center;
    font-family: 'myfont2';
    background-color: #204ECF;
    color: #9cb8f9;
    padding: 20px;
}

main {  
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.gallery img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.gallery img:hover {
    transform: scale(1.7);
}