
@font-face {
  font-family:myfont ;
  src: url(fonts/fonthaha.otf);
}
@font-face {
  font-family:myfont2 ;
  src: url(roboto.ttf);
}
body {
  position: relative; 
  background-color: #000000;
  background-image: url("7famille.png");
  height: 100vh;
  margin: 0;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.66); 
  z-index: -1; 
}

.title {
  color: #F8F0DE;
  font-family: 'myfont', sans-serif;
  top:39%;
  left: 50%;
  height:60px;
  width: 1000px;
  transform: translate(-50%,-50%);
  position: absolute;
  text-align: center center;
  font-size: 60px;
}
.subtible {
  color: #F8F0DE;
  text-align: center center;
  font-family: Arial, Helvetica, sans-serif;
  top:53%;
  left: 60%;
  height:60px;
  width: 1000px;
  font-size: 25px;
  transform: translate(-50%,-50%);
  font-style: italic;
  position: absolute;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130vh; 
}

.btn {
  padding: 10px 10px;
  width: 210px;
  height: 100px;
  border: solid;
  border-color: #F8F0DE;
  border-width: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: transparent;
  border-radius: 4px;
}
.btn-1 {
  color: transparent; 
  margin-right: 50px;
}

.btn-2 {
  color: transparent;
  margin-left: 50px;
}

.btn:hover {
  background-color:#ffb6c6bf;
  border-color:#f2899c;

}

.interieur {
  color: #F8F0DE;
  font-size: 19px;
  font-family: sans-serif;
  text-align: center;
}
